
@import "header/header.scss";
@import "content/content.scss";
@import "footer/footer.scss";

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border: 1px black solid;
}
body{
    font-family: "Source Sans Pro",sans-serif;
    // font-family: 'Sunflower',sans-serif;
}
.clearfix {
    @include clearfix();
}
ul {
    margin: 0;
    padding-left: 0;
}
.row {
    margin: 0 -10px;
}
.col-2 {
    @include col(left, 6, 0, 10px); 
}

.col-4 {
    @include col(left, 3, 0, 10px);
}

.col-3 {
    @include col(left, 4, 0, 10px); 
}

.col-6 {
    @include col(left, 2, 0, 10px); 
}

