// Mixin itself 清除 float 高度 還原元件高度
@mixin clearfix() {
    &::after {
       content: "";
       display: table;
       clear: both;
    }
}
// 圖片
@mixin bg($img){
    background: url("./src/images/#{$img}");  
    width: image-width("./src/images/#{$img}");  
    height: image-height("./src/images/#{$img}"); 
}   

//三角形產生器 預設是等腰三角形，如要做正三角形，請將type預設變數改為0.8666666 
//右上角的，就打：+triangle(30px, red, right-top) 左下角的就打：+triangle(30px, red, left-bottom)
@mixin triangle($size, $color, $align,$type:1){
  height: 0;
  width: 0;
  @if ($align == top){
    border-bottom: ($size*$type) solid $color;
    border-left: ($size/2) solid transparent;
    border-right: ($size/2) solid transparent;
  } 
  @else if ($align == right){
      border-left: ($size*$type) solid $color;
    border-top: ($size/2) solid transparent;
    border-bottom: ($size/2) solid transparent;
  }
  @else if ($align == bottom){
    border-top: ($size*$type) solid $color;
    border-left: ($size/2) solid transparent;
    border-right: ($size/2) solid transparent;
  }
  @else if ($align == left){
    border-right: ($size*$type) solid $color;
    border-top: ($size/2) solid transparent;
    border-bottom: ($size/2) solid transparent;
  }
  @else if ($align == right-top){
    border-right: $size solid $color;
    border-bottom: $size solid transparent;
  }
  @else if ($align == left-top){
    border-left: $size solid $color;
    border-bottom: $size solid transparent;   
  }
    
  @else if ($align == right-bottom){
    border-right: $size solid $color;
    border-top: $size solid transparent;  
  }
  @else if ($align == left-bottom){
    border-left: $size solid $color;
    border-top: $size solid transparent;  
  }
}
  